<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BitcoinAverageApiUrl" value="https://api.bitcoinaverage.com" />
    <add key="CoinbaseApiUrl" value="https://api.exchange.coinbase.com" />
    <add key="BtceApiUrl" value="https://btc-e.com/api/3" />
    <add key="BitstampApiUrl" value="https://www.bitstamp.net/api"/>
    <add key="BitfinexApiUrl" value="https://api.bitfinex.com/v1"/>
    <add key="JustcoinApiUrl" value="https://justcoin.com/api/v1"/>
  </appSettings>
</configuration>